extends ../components/base/layout

block variables
  - const title = "Купить Автовышку Випо-18" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "agp-vipo-18.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const isChetra = false
  - const breadCrumbs = [{href: "index.html", name: "Главная"}, {href: "catalog-vipo.html", name: "Каталог VIPO"}, {href: "agp.html", name: "Автовышки"}, {href: "#", name: " АГП ВИПО-18"}]
  - const isButton = false

block main

  main
    +page-banner("АГП ВИПО-18", "agp-vipo18", "agp-vipo18", "jpg", 1360, 590, "Автовышка Випо-18", isChetra)
    +breadcrumbs(breadCrumbs, isButton)
    +info-agp18()
