extends ../components/base/layout

block variables
  - const title = "Купить БКМ 6600" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "bkm-vipo6600.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const isChetra = false
  - const breadCrumbs = [{href: "index.html", name: "Главная"}, {href: "catalog-vipo.html", name: "Каталог VIPO"}, {href: "bkm.html", name: "Бурильные машины"}, {href: "#", name: "БКМ 6.600"}]
  - const isButton = false

block main

  main
    +page-banner("БКМ-6.600", "bkm6600", "bkm6600", "jpg", 1360, 590, "Бурильная машина БКМ 6.600", isChetra)
    +breadcrumbs(breadCrumbs, isButton)
    +info-bkm6600()
