extends ../components/base/layout

block variables
  - const title = "Купить Бульдозеры ЧЕТРА" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "bulldosers.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const isChetra = true
  - const breadCrumbs = [{href: "index.html", name: "Главная"}, {href: "index.html", name: "Каталог Четра"}, {href: "#", name: "Бульдозеры"},]
  - const isButton = true

block main

  main
    +page-banner("Бульдозеры", "banners", "buldozer", "jpg", 1360, 590, "Бульдозеры", isChetra)
    +breadcrumbs(breadCrumbs, isButton)
    +buldozers-list()
