extends ../components/base/layout

block variables
  - const title = "Купить Трубоукладчик Четра ТГ-302" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "chetra-tg302.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const isChetra = true
  - const breadCrumbs = [{href: "index.html", name: "Главная"}, {href: "catalog-chetra.html", name: "Каталог Четра"}, {href: "pipes.html", name: "Трубоукладчики"}, {href: "#", name: "Четра ТГ302"}]
  - const isButton = false

block main

  main
    +page-banner("Трубоукладчик Четра ТГ302", "pipes-tg302", "tg302", "jpg", 1360, 590, "Трубоукладчик Четра", isChetra)
    +breadcrumbs(breadCrumbs, isButton)
    +info-chetra-tg302()
