extends ../components/base/layout

block variables
  - const title = "Купить Автокран ВИПО КС25" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "crane-visit-kc25.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const isChetra = false
  - const breadCrumbs = [{href: "index.html", name: "Главная"}, {href: "catalog-vipo.html", name: "Каталог VIPO"}, {href: "truckcrane.html", name: "Автокран"}, {href: "#", name: "Автокран VISIT КС25"}]
  - const isButton = false

block main

  main
    +page-banner("Автокран VISIT КС25", "crane-kc25", "vipo-kc25", "jpg", 1360, 590, "Автокран ВИПО КС-25", isChetra)
    +breadcrumbs(breadCrumbs, isButton)
    +info-crane-kc25()
