extends ../components/base/layout

block variables
  - const title = "Купить Автокран ВИПО" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "trackcrane.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const isChetra = false
  - const breadCrumbs = [{href: "index.html", name: "Главная"}, {href: "catalog-vipo.html", name: "Каталог VIPO"}, {href: "#", name: "автокраны"},]

block main

  main
    +page-banner("Автокраны", "banners", "crane", "jpg", 1360, 590, "Автокран", isChetra)
    +breadcrumbs(breadCrumbs, isButton)
    +crane-list()
