mixin info-chetra-t20()
  -
    const images = [
      {
        path: "bulldozer-t20",
        image: "t20-isometry-front",
        format: "jpg",
        width: 680,
        height: 475,
        altText: "Изображение Бульдозер Т15 ",
      },
      {
        path: "bulldozer-t20",
        image: "t20-front",
        format: "jpg",
        width: 680,
        height: 475,
        altText: "Изображение Бульдозер t20 ",
      },
      {
        path: "bulldozer-t20",
        image: "t20-right",
        format: "jpg",
        width: 680,
        height: 475,
        altText: "Изображение Бульдозер t20 ",
      },
      {
        path: "bulldozer-t20",
        image: "t20-left",
        format: "jpg",
        width: 680,
        height: 475,
        altText: "Изображение Бульдозер t20 ",
      },
      {
        path: "bulldozer-t20",
        image: "t20-back",
        format: "jpg",
        width: 680,
        height: 475,
        altText: "Изображение Бульдозер t20 ",
      },
      {
        path: "bulldozer-t20",
        image: "t20-isometry-back",
        format: "jpg",
        width: 680,
        height: 475,
        altText: "Изображение Бульдозер t20 ",
      },
    ]

  -const frontOptions = ['полусферический отвал  / 3976 x 1875 / 10', 'прямой отвал / 4378 x 1673 / 8,5', 'сферический отвал / 4270 x 1920 / 11,7', 'угольный отвал / 4270 x 2122 / 15']
  -const backOptions = ['рыхлитель 1 зуб', 'рыхлитель 3 зуба', 'лебедка']
  -const options = ['Двойной стеклопакет кабины', 'Система спутникового мониторинга ГЛОНАСС/GPS','Зависимый и независимый отопитель кабины','Система предпускового подогрева двигателя','Температурное исполнение -50С +35С','Аудиосистема','Автоматический звуковой сигнал заднего хода','Звуковой сигнал переднего хода','Боковые зеркала заднего вида','Сиденье с микроподрессовыванием и пневмоподвеской']

  section.chetra-unit
    .container
      h2.visually-hidden Бульдозер Четра Т9
      .chetra-unit__content
        .chetra-unit__slider.swiper
          .chetra-init__list.swiper-wrapper
            for item in images
              .chetra-unit__item.swiper-slide
                +picture(item.path, item.image, item.format, item.width, item.height, item.altText)
          .swiper-button-next(style={color: '#f3b411'})
          .swiper-button-prev(style={color: '#f3b411'})
          .swiper-pagination

        .chetra-unit__info
          h3.chetra-unit__info-title Основные характеристики
          dl.chetra-unit__info-list
            dt Модель двигателя:
            dd ЯМЗ-238ДЕ2-28 / Cummins QSM11
            dt Мощность номинальная, кВт (л.с.):
            dd 243 (330) / 246 (335)
            dt Мощность эксплуатационная, кВт (л.с.):
            dd 228 (310) / 228 (310)
            dt Эксплуатационная масса, т:
            dd от 30,7 до 35,2

          h3.chetra-unit__options-title Переднее навесное оборудование / размеры (ШхВ) / Объем отвала (м3)
          ul.chetra-unit__front-options
            for item in frontOptions
              li=item
          h3.chetra-unit__options-title Заднее навесное оборудование
          ul.chetra-unit__back-options
            for item in backOptions
              li=item
          h3.chetra-unit__options-title Стандартная комплектация
          ul.chetra-unit__options
            for item in options
              li=item
