mixin info-excavator-e210nc()
  -
    const images = [
      {
        path: "excavator-e210nc",
        image: "excavator-e210nc-1",
        format: "jpg",
        width: 690,
        height: 447,
        altText: "Изображение экскаватора Четра Е210 ",
      },
    ]

  section.excavator-unit
    .container
      .excavator-unit__content
        .excavator-unit__images.chetra-unit__slider.swiper
          .excavator-init__list.chetra-init__list.swiper-wrapper
            for item in images
              .excavator-unit__item.chetra-unit__item.swiper-slide
                +picture(item.path, item.image, item.format, item.width, item.height, item.altText)
          .swiper-button-next(style={color: '#f3b411'})
          .swiper-button-prev(style={color: '#f3b411'})
          .swiper-pagination
        .excavator-unit__info
          h2 Основные характеристики
          dl.excavator-unit__info-list
            dt Модель двигателя
            dd Cummins 6BTAA5.9
            dt Мощность, кВт(л.с)
            dd 112 кВт (152 л.с.)
            dt Объем ковша, м³
            dd 1.1
            dt Масса, т
            dd 21,8
            dt Длина рукояти, мм
            dd 2 920
            dt Длина стрелы, мм
            dd 5 675
            dt Глубина копания - max (размер-J), мм
            dd 6 644
            dt Высота выгрузки - max (размер-U), мм
            dd 6 717
            dt Длина (размер-А), мм
            dd 9 765
            dt Ширина (размер-B), мм
            dd 2 540
            dt Высота по кабине (размер-H), мм
            dd 3 020
            dt Топливный бак, л
            dd 303
            dt Гидравлический бак, л
            dd 235
            dt Кондиционер
            dd.excavator-unit__info-bolean
        .excavator-unit__dimensions
          +picture( "excavator-e210nc", "excavator-e210nc-dim", "jpg", 690, 180, "Габаритные размеры")
