mixin info()
  .info
    .container
      .info__wrapper
        p.info__address г. Волгоград<br class="info__address-breake"> ул.им. Лавренева, 19Д
        .info__phone
          +imgsvg("svg", "icon-phone-info", "svg", 50, 50, "Иконка телефона")
          +btn({text: "8(8442)263-103", href: "tel:+78442263102"}).btn-info
        .info__email
          +imgsvg("svg", "icon-mail-info", "svg", 50, 50, "Иконка электронной почты")
          +btn({text: "gidravlika-m@mail.ru", href: "mailto:gidravlika-m@mail.ru"}).btn-info
