.action-menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;

  @include vp-767 {
    display: none;
  }
}

.action-menu__item {
  display: flex;
  justify-content: center;
  background-color: $color-palatine-purple;
  border-right: 1px solid $color-varden;

  &:last-child {
    border-right: none;
  }

  &.active-link {
    background-color: $color-varden;
    transition: backgroun-color 0.35s ease;

    & .action-menu__link {
      color: $color-mardi-gras;
    }
  }
}

.action-menu__link {
  font-size: 18px;
  line-height: 26px;
  color: $color-default-white;
  padding: 6px 0;
  transition: color 0.5s ease;

  @include  vp-1023 {
    font-size: 14px;
  }
}
