.action-mobile__img {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.action-mobile__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action-mobile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $color-varden;
  margin-bottom: 5px;

  &:last-child {
    border-bottom: none;
  }
}

.action-mobile__link {
  font-size: 14px;
  line-height: 22px;
  color: $color-default-white;
  padding: 6px 0;
  transition: color 0.5s ease;
}

.action-mobile__desc {
  // width: 90%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-mardi-gras;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

  opacity: 0;
  height: 0;
  transform-origin: top;
  transform: opacity 0.35 ease;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  cursor: pointer;
}

.action-mobile__item.active-mobile {
  background-color: $color-varden;

  & .action-mobile__link {
    color: $color-mardi-gras;
  }

  & .action-mobile__desc {
    height: auto;
    opacity: 1;
  }
}