.aside-menu {
  background-color: $color-smalt;

  &--chetra {
    background-color: $color-mardi-gras;
  }

  @include vp-767 {
    display: none;
  }
}

.aside-menu__list {
  list-style: none;
  margin: 0;
  padding: 20px;
  position: sticky;
  top: 50px;
}

.aside-menu__item {
  padding: 10px 0;
  border-bottom: 1px solid $color-border;
  text-transform: uppercase;
  font-weight: 300;
}

.aside-menu__link {
  color: $color-default-white;
}

.aside-menu.aside-menu--mobile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
}
