.info {
  background-color: $color_smalt;
  padding: 10px 0 10px;
}

.info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  @include vp-1279 {
    padding: 0;
  }
}

.info__address {
  font-size: 30px;
  line-height: normal;
  color: $color-lavender-blue;
  margin: 0;

  @include vp-1279 {
    font-size: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    text-align: center;
  }
}

.info__address-breake {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.info__phone {
  display: flex;
  gap: 15px;

  @include vp-767 {
    gap: 10px;
    justify-content: space-between;
  }
}

.info__phone img {
  @include vp-1279 {
    width: 30px;
    height: 30px;
  }
}

.info__email {
  display: flex;
  gap: 15px;

  @include vp-1023 {
    display: none;
  }
}

.info__email img {
  @include vp-1279 {
    width: 30px;
    height: 30px;
  }
}

.btn.btn-info {
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: $color-lavender-blue;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-transform: lowercase;

  @include vp-767 {
    font-size: 14px;
  }
}
