// Vendor
// ---------------------------------

@import "vendor/normalize";
// Swiper 7.4.1
// @import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "functions";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/header";
@import "blocks/banner";
@import "blocks/info";
@import "blocks/catalog-chetra";
@import "blocks/catalog-vipo";
@import "blocks/breadcrumbs";
@import "blocks/page-banner";
@import "blocks/aside-menu";
@import "blocks/section-list";
@import "blocks/catalog";
@import "blocks/map";
@import "blocks/main-nav";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/btn";
@import "blocks/custom-input";
@import "blocks/custom-toggle";
@import "blocks/custom-select";
@import "blocks/chetra-unit";
@import "blocks/vipo-unit";
@import "blocks/kmu-unit";
@import "blocks/bkm-unit";
@import "blocks/mksm-unit";
@import "blocks/excavator-unit";
@import "blocks/catalogs";
@import "blocks/offer";
@import "blocks/offer-banner";
@import 'blocks/action-menu';
@import 'blocks/chetra-action';
@import 'blocks/actions';
@import 'blocks/action-mobile';
@import 'blocks/price-down';

// ---------------------------------

// ❗❗❗ запрещено использовать изображения в css, касается как jpg \ png, так и svg

// ❗ обязательно используйте @media для отключения ховеров на тач устройствах
// но не используем для текстовых полей ( input, textarea )
/* @media (hover: hover), screen and (min-width: 0\0) {
  &:hover,
  &:focus {
    color: $color-default-white;
  }
} */

// адаптив пишем внутри каждого класса (смотрим container.scss)

// для фикса проблем с vh на iOS в сборке подключен скрипт
// используя vh на проекте задавайте их также как в примере в utils.scss

// для любых transition обязательно указывайте transition-property
// transition: $trans-default ❌ ---> transition: color $trans-default ✅
