mixin action-menu()
  .action-menu
    .container
      ul.action-menu__list
        li.action-menu__item.active-link
          a.action-menu__link(href="#" data-action="exkavator15") Экскаваторы ЧЕТРА со скидкой до 15%
        li.action-menu__item
          a.action-menu__link(href="#" data-action="buldozer35") Бульдозеры ЧЕТРА со скидкой до 35%
        li.action-menu__item
          a.action-menu__link(href="#" data-action="chetra35") Техника ЧЕТРА со скидкой до 35%

