mixin actions()
  .actions
    .container
      ul.actions__list
        li.actions__item.active-item( data-action="exkavator15")
          .action__item-image
            +picture('action', 'exkavator15', 'jpg', 225, 400, 'Баннер Экскаваторы ЧЕТРА со скидкой 15%')
          p.actions__item-desc
             |Компания «ЧЕТРА» объявляет о снижении цен на экскаваторы до 15%. Это стало возможным благодаря участию в конкурсном отборе Минпромторга России на право получения в 2025 году субсидии из федерального бюджета производителям специализированной техники согласно Постановлению Правительства Российской Федерации от 4 июня 2020 г. № 823.
             |Субсидированная скидка конечным покупателям распространяется на всю линейку гусеничных полноповоротных экскаваторов ЧЕТРА массой от 21,8 до 51 тонн и мощностью двигателя от 152 до 408 лошадиных сил. Все модели техники зарегистрированы в реестре российской промышленной продукции и полностью соответствуют требованиям, установленным Постановлением Правительства Российской Федерации от 17 июля 2015 г. № 719.
             |При покупке экскаваторов по сниженной цене действуют все обязательства по сопровождению: консультационная поддержка, сервисные контракты на обслуживание, а также оригинальные запасные части на протяжении всего жизненного цикла техники.
        li.actions__item(data-action="buldozer35")
          .action__item-image
            +picture('action', 'exkavator15', 'jpg', 225, 400, 'Баннер Экскаваторы ЧЕТРА со скидкой 15%')
          p.actions__item-desc
              |Бульдозеры ЧЕТРА — это современные машины, созданные с использованием передовых технологий и конструктивных решений. Они успешно справляются с продолжительными работами в сложных эксплуатационных условиях. Бульдозеры могут стабильно работать в широком диапазоне температур от -50º до +35º С, что делает их подходящими для российского климата.
              |Бульдозеры ЧЕТРА имеют модульную конструкцию всех узлов и систем, гидромеханическую трансмиссию, оснащаются различными двигателями в зависимости от потребностей покупателя. Современная конструкция бульдозеров позволяет легко агрегатировать машины с оборудованием других производителей, например, с системами нивелирования или дополнительными системами безопасности.
              |Благодаря программе субсидирования в рамках Постановления Правительства Российской Федерации от 4 июня 2020 г. № 823 бульдозеры ЧЕТРА можно купить со скидкой до 35%. Скидка распространяется на гусеничные бульдозеры ЧЕТРА Т9, Т11, Т15, Т20, Т30, Т45 и колесный бульдозер ЧЕТРА ТК25. Все модели техники сертифицированы и зарегистрированы в реестре российской промышленной продукции и полностью соответствуют требованиям, установленным Постановлением Правительства Российской Федерации от 17 июля 2015 года № 719.
              |При покупке машин по сниженной цене действуют все обязательства по сопровождению: всесторонняя консультационная поддержка, сервисные контракты на обслуживание, а также оригинальные запасные части на протяжении всего жизненного цикла техники
        li.actions__item( data-action="chetra35")
          .action__item-image
            +picture('action', 'exkavator15', 'jpg', 225, 400, 'Баннер Экскаваторы ЧЕТРА со скидкой 15%')
          p.actions__item-desc
              |Техника ЧЕТРА включена в государственную программу субсидирования в рамках Постановления Правительства Российской Федерации от 4 июня 2020 г. № 823. Благодаря этому цены на технику снижены до 35%.
              |Скидка конечным покупателям распространяется на гусеничные бульдозеры ЧЕТРА от 9 до 45 тягового класса (Т9, Т11, Т15, Т20, Т30, Т45), колесный бульдозер ЧЕТРА ТК25 и колесный погрузчик ЧЕТРА ПК12, а также гусеничные полноприводные экскаваторы ЧЕТРА (Е220, Е220 NC, Е270, Е330, Е400, Е520). Вся продукция сертифицирована и зарегистрирована в реестре российской промышленной продукции и полностью соответствует требованиям, установленным Постановлением Правительства Российской Федерации от 17 июля 2015 года № 719.
              |При покупке машин по сниженной цене действуют все обязательства по сопровождению: всесторонняя консультационная поддержка, сервисные контракты на обслуживание, а также оригинальные запасные части на протяжении всего жизненного цикла техники.

