mixin action-menu()
  .action-menu
    .container
      ul.action-menu__list
        li.action-menu__item.active-link(data-action="exkavator15")
          a.action-menu__link(href="#") Экскаваторы ЧЕТРА со скидкой до 15%
        li.action-menu__item(data-action="buldozer35")
          a.action-menu__link(href="#") Бульдозеры ЧЕТРА со скидкой до 35%
        li.action-menu__item(data-action="chetra35")
          a.action-menu__link(href="#") Техника ЧЕТРА со скидкой до 35%

