mixin price-down()
  section.price-down
    .container
      .price-down__wrapper
        .price-down__img
          h2.price-down__title Снижение цен
          div(id="arrow").price-down__arrow
            +imgsvg('svg', 'arrow-down', 'svg', 320, 158, 'Стрелка вниз')
          .price-down__rects
            <svg width="49" height="218" viewBox="0 0 49 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rec1' y="0.482758" width="48.2759" height="217.241" fill="#5D365A"/>
            </svg>
            <svg  width="49" height="218" viewBox="0 0 49 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rec2' y="0.482758" width="48.2759" height="217.241" fill="#5D365A"/>
            </svg>
            <svg width="49" height="218" viewBox="0 0 49 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rec3' y="0.482758" width="48.2759" height="217.241" fill="#5D365A"/>
            </svg>
            <svg width="49" height="218" viewBox="0 0 49 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rec4' y="0.482758" width="48.2759" height="217.241" fill="#5D365A"/>
            </svg>
            <svg width="49" height="218" viewBox="0 0 49 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rec5' y="0.482758" width="48.2759" height="217.241" fill="#5D365A"/>
            </svg>
            <svg width="49" height="218" viewBox="0 0 49 218" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rec6' y="0.482758" width="48.2759" height="217.241" fill="#5D365A"/>
            </svg>
        div(id="content").price-down__content
          h2.price-down__content-title Беспрецедентное снижение цен с железными гарантиями
          p.price-down__content-desc Компания ЧЕТРА объявляет о радикальном пересмотре ценовой политики на экскаваторы. Теперь цены реализации клиентам находятся на уровне себестоимости приобретения техники из Китая. Так, цена на габаритный экскаватор Е220-NC снижена почти на миллион и уже сейчас его можно купить за 7 692 000 рублей. И главное - компания гарантирует фиксацию рекордно низких цен на весь первый и второй квартал 2026 года.<br/>«Ценовое позиционирование гусеничных экскаваторов ЧЕТРА всегда будет существенно ниже закупки техники из Китая — это не просто заявление, это наша новая философия. И, пока рынок готовится к четырехкратному увеличению утилизационного сбора с 2026 года, мы предлагаем оптимальное решение: никаких паникерских закупок в прок, никаких замороженных на год средств. Просто разумная покупка отечественной техники ЧЕТРА с государственной поддержкой — здесь и сейчас», - комментирует исполнительный директор компании «ЧЕТРА» Владимир Антонов<br/>Производство экскаваторов ЧЕТРА находится на территории России, это означает отсутствие логистических рисков, таможенных задержек и валютных качелей. Весь модельный ряд — в наличии на постоянной основе, прямо с завода.<br/>Уточнить цены на конкретные модели экскаваторов можно в отделе продаж техники <span>ТД Гидравлика М</span> по телефону: <a href=(tel:+78442263103)>8 (8442) 26-31-03</a> и у официальных дилеров компании «ЧЕТРА».

