//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/img-svg


//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/banner
include ./blocks/info
include ./blocks/catalog-chetra
include ./blocks/catalog-vipo
include ./blocks/aside-menu-chetra
include ./blocks/aside-menu-vipo
include ./blocks/buldozers-list
include ./blocks/pipes-list
include ./blocks/loaders-list
include ./blocks/mini-loaders-list
include ./blocks/exkavators-list
include ./blocks/agp-list
include ./blocks/kmu-list
include ./blocks/bkm-list
include ./blocks/crane-list
include ./blocks/kmu-tractor-list
include ./blocks/garbage-list
include ./blocks/info-chetra-t9
include ./blocks/info-chetra-t11
include ./blocks/info-chetra-t15
include ./blocks/info-chetra-t25
include ./blocks/info-chetra-t20
include ./blocks/info-chetra-t35
include ./blocks/info-chetra-t40
include ./blocks/info-chetra-tg122
include ./blocks/info-chetra-tg222
include ./blocks/info-chetra-tg302
include ./blocks/info-chetra-tg511
include ./blocks/info-agp12-mini
include ./blocks/info-agp12
include ./blocks/info-agp15
include ./blocks/info-agp17
include ./blocks/info-agp18
include ./blocks/info-agp20
include ./blocks/info-agp22
include ./blocks/info-agp24
include ./blocks/info-dvina32008
include ./blocks/info-dvina4000
include ./blocks/info-dvina5000
include ./blocks/info-dvina6300
include ./blocks/info-dvina6500
include ./blocks/info-bkm6600
include ./blocks/info-bkm3350
include ./blocks/info-chetra-mksm800mb
include ./blocks/info-chetra-mksm800mp
include ./blocks/info-chetra-mksm800ab
include ./blocks/info-chetra-mksm800ap
include ./blocks/info-chetra-mksm1000mb
include ./blocks/info-chetra-mksm1000mp
include ./blocks/info-chetra-mksm1000ab
include ./blocks/info-chetra-mksm1000ap
include ./blocks/info-chetra-mksm1200mb
include ./blocks/info-chetra-mksm1200mp
include ./blocks/info-chetra-mksm1200ab
include ./blocks/info-chetra-mksm1200ap
include ./blocks/info-chetra-pk12
include ./blocks/info-chetra-tk25
include ./blocks/info-excavator-e210
include ./blocks/info-excavator-e210nc
include ./blocks/info-excavator-e270
include ./blocks/info-excavator-e330
include ./blocks/info-excavator-e400
include ./blocks/info-excavator-e520
include ./blocks/info-crane-kc25
include ./blocks/catalogs
include ./blocks/offer
include ./blocks/offer-banner

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/breadcrumbs
include ./mixins/page-banner

//- Shared

include ./shared/action-menu
include ./shared/chetra-action
include ./shared/actions
include ./shared/action-mobile
include ./shared/price-down

